{% extends "treasurehunt/base.html" %}
{% block content %}
{% load static %}
<br><br><br><br><br>
<!-- Login Container -->


<div class="login">
      <div >
          <div>
        <form action="/profile_complete/" method="post">
              {{ form.non_field_errors }}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
          {% endfor %}
        {% csrf_token %}
            <div class="form-group">
                <label>College name: </label>
                {{ form.college }}
            </div>
            <br/>
            <div class="form-group">
                <label>Phone number:  </label>
                {{ form.phone_number }}
            </div>
            </br>
    <input type="submit" value="Submit">
</form>
              </div>
</div>
<!-- Login Container End -->
{% endblock content %}