{% extends "treasurehunt/base.html" %}
{% load static %}
{% block content %}



<!-- Product Section Begin -->

<section class="product-page spad">
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<div class="product__page__content ">
					<div class="product__page__title">
						<div class="row ">
							<div class="col-lg-8 col-md-8 col-sm-6">
								<div class="section-title">
									<h1 class="hero-text">Rules</h1>
<!--									<p class="text-muted">You are awesome!!!!</p>-->
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-6">

							</div>
						</div>
					</div>
					<div class="row">
						<div class="blog__details__form" style="width:100%;
						/* margin-bottom:50px; */
						">
							<!-- <a href="{% url 'treasurehunt:question' %}" >
								<button type="button" class="site-btn">
									Try Again
								</button>
							</a> -->

						</div>
						<div class="blog__details__text">
                         <ol>
<li>This is an individual's game. So play it that way. </li>
<li>Login using your Google Account to play. However, you may claim the prize only if you're a school/college student with a valid ID card. </li>
<li>No spoilers please! Don't get yourself banned. Same goes for hackers.</li>
<li>You may answer only in lowercase letters without spaces. No other special characters are to be used. </li>
<li>Mention full names for anything you answer. Use WIKI  as your reference</li>
<li>You can find the hints for some levels in page source, file downloads, URL, cookies, Hack4TKM website, Hack4TKM Instagram page, IEDC TKMCE Instagram page, image names etc. </li>
<li>You will complete the hunt by making it through the 25 levels.</li>
<li>Google is your only friend.</li>
				 <li> 
				 Google is your only friend. You may use reverse searching tools such as Google Lens in order to find out about the image and connect the pictures.</li>
<li>Clues will be posted in the Hack4TKM Instagram Page and IEDC TKMCE Instagram Page every hour from 11AM to 10PM everyday.</li>
<li>Admin has the 'All seeing eye' in his backyard. So cheaters beware.</li>
</ol>
                        </div>
<!--						<div class="blog__details__form mt-3 mb-3" style="width:100%">-->
<!--							<a href="{% url 'treasurehunt:leaderboard' %}" >-->
<!--								<button class="c-button c-button&#45;&#45;primary">Leaderboard</button>-->
<!--							</a>-->

<!--						</div>-->
<!--						<div class="blog__details__item__text" style="width:100%">-->
<!--							&lt;!&ndash; <div style="width:100%;height:0;padding-bottom:42%;position:relative;"><iframe src="https://giphy.com/embed/fe4dDMD2cAU5RfEaCU" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/ban-banned-admin-fe4dDMD2cAU5RfEaCU">via GIPHY</a></p> &ndash;&gt;-->
<!--							<img src="{% static 'img/winner.gif' %}" alt="" style="width:100%">-->

<!--						</div>-->


					</div>
				</div>

			</div>
		</div>
	</div>
	</div>
</section>
<!-- Product Section End -->

{% endblock content %}





